{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-sm">
        <p class='text-red text-bold'>include special characters e.g @...,in your password to sign in successfully</p><br>
        <p class='text-red text-bold'>do not include your usernanme in the passowrd</p>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            
            <input type="text" name="{{ form.username.name }}" placeholder="Username" class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
            
            <input type="password" name="{{ form.password1.name }}" placeholder="Password" class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
            
            <input type="password" name="{{ form.password2.name }}" placeholder="Confirm Password" class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
            
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg transition">
                Sign Up
            </button>
        </form>
    </div>
</div>
{% endblock %}
